/* Place here common styles for the whole app */

.gm_form{
     max-width: 600px !important;
     margin: 0 auto;
}

.gm_formInputError input {
    background-color: #fff6f6 !important;
    border-color: #e0b4b4 !important;
}
